language: node_js

node_js:
  - "lts/*"

before_deploy:
  - zip -r FLXIngestorDemoDev-${TRAVIS_BRANCH}-${TRAVIS_BUILD_NUMBER}.zip *

deploy:
  skip_cleanup: true
  provider: elasticbeanstalk
  access_key_id: $ACCESSKEYID
  secret_access_key:
    secure: "$SECRETACCESSKEY"
  region: "us-west-2"  
  app: "Demo"
  env: "FLXIngestorDemoDev"
  bucket_name: "elasticbeanstalk-us-west-2-628858870799"
  zip_file: "FLXIngestorDemoDev-${TRAVIS_BRANCH}-${TRAVIS_BUILD_NUMBER}.zip"
  on:
    branch: 
      - develop  